@import url("sections/header.css");
@import url("sections/sections.css");

* {  
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body { 
  display: flex;
  flex-direction: column; 

  max-height: 100%;
  max-width: 100%;

  margin: 0 50px;
  padding: 0 70px;
  position: relative;



}

a {
  text-decoration: none;
  color: inherit;
}



